<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @vendor_material.price %>
</p>


<%= link_to 'Edit', edit_vendor_material_path(@vendor_material) %> |
<%= link_to 'Back', vendor_materials_path %>
