<p id="notice"><%= notice %></p>

<p>
  <b>Qty:</b>
  <%= @documented_material.qty %>
</p>


<%= link_to 'Edit', edit_documented_material_path(@documented_material) %> |
<%= link_to 'Back', documented_materials_path %>
